
<%- include('component/header') %>
<%- include('component/nav') %>
<p class="alert alert-danger">
  <%= validationError.message %>
</p>
<div class="container">
<div class="row">
    <div class="col col-12 col-md-6">
        <img src="<%=myLocal%><%= product.image %>" class="card-img-top" alt=" twesd" Height="250px">
          <!-- <img src="/<%= product.image %>" class="card-img-top" alt=" twesd" Height="250px"> -->
        <form action="/cart" method="post">
            <%= product.name%>
            <%= product.image %>
            <input type="number" name="amount" class="form-control">
            <input type="hidden" name="name" value="<%= product.name %>">
            <input type="hidden" name="price" value="<%= product.price %>">
            <input type="hidden" name="productId" value="<%= product._id %>">
            <input type="hidden" name="redirectTo" value="/product/:id">
            <input type="submit" value="Add To Cart" class="btn btn-primary mt-2">
          </form>
    </div>

    <div class="col col-12 col-md-6">
        <h2><%= product.name%></h2>
        <h5>Price: <%= product.price%> $</h5>
        <p><%= product.description%></p>
          </form>
    </div>

</div>
</div>

<%- include('component/footer') %>